<p></p>

<article>
    <header>
        <div class="col-9">
            <h2>{{unSelfie?.titre}}</h2>
        </div>
        <div class="col text-end">
             [.....]
        </div>
    </header>
    <div class="w-100"></div>
    <div class="col pb-2">
        <img class="img-fluid" src={{unSelfie?.image}}  alt="image selfie wookie" />
    </div>
    <div class="w-100"></div>

    <div class="col footer pb-2">
        <div class="d-flex">
            <div class="me-2">
                <p>
                    <a>
                        <i></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="">
        <i class=""></i>
    </div>
</article>
